<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="index body ">
    <h1 align="center">Welcome to the Home Page</h1>
    <div align="center">
        <button align="center"><a href="/login">Login</a></button>
        <button align="center"><a href="/register">Register</a></button>
    </div>
</body>
</html>