<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div align="center">
            <div align="center", class ="Border">
                <div class ="Header">
                    <h1 class= "word">Login</h1>
                </div>
                <h2 class="word">
                    <form action= "/login" method="post">
                        <div class="msg">{{msg}}</div>
                        <input id="Username", name="Username", type="text", placeholder="Enter your Username", class="textbox">
                        <br><br>
                        <input id="Password", name="Password", type="password", placeholder="Enter your Password", class="textbox">
                        <br><br>
                        <input type="submit", value="Sign In", class="btn">
                        <br><br>
                    </form>
                </h2>
                <p class="bottom">"Don't have account"
                    <a href="/register" class="bottom">Sign up here</a>
                </p>
            </div>
        </div>
    </body> 
</html>   