<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Prediction App</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Link to optional CSS -->
</head>
<body>
    <h1>🌦️Weather Prediction App</h1>
    
    <!-- Weather Form -->
    <form action="/get_weather" method="POST">
        <!-- <label for="city"></label> -->
        <input type="text" id="city" name="city" placeholder="Enter City Name :  e.g., London" required>
        <button type="submit">Get Weather</button>
    </form>

    <!-- Display Error Message -->
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if weather %}
    <h2>Weather in {{ weather.city }}</h2>
    <div id="weatherdetails-container">
        <!-- Display Weather Details -->
            <!-- <img src="{{ weather.icon }}" alt="Weather Icon"> -->
            <p><strong>📝Description:</strong> {{ weather.description }}</p>
            <p><strong>🌡️Temperature:</strong> {{ weather.temperature }}°C</p>
            <p><strong>💧Humidity:</strong> {{ weather.humidity }}%</p>
            <p><strong>🍃Wind Speed:</strong> {{ weather.wind_speed }} m/s</p>
        {% endif %}
    </div>
</body>
</html>
